# IntelliJ
.idea/
*.iml

# OS files
.DS_Store

# Backend
backend/target/
backend/*.log
backend/src/main/resources/application.properties

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env